<link rel="stylesheet" href="/css/footer.css">

<footer>
    <div class="footer">
        <div class="row">
            <a href="#"><i class="fa fa-facebook"></i></a>
            <a href="#"><i class="fa fa-instagram"></i></a>
            <a href="#"><i class="fa fa-youtube"></i></a>
            <a href="#"><i class="fa fa-twitter"></i></a>
        </div>
        <div class="row">
            <ul>
                <li><a href="/">หน้าหลัก</a></li>
                <li><a href="/locations">สถานที่โบราณคดีไทย</a></li>
                <li><a href="/zone/southern">ประเพณีและวัฒนธรรมไทย</a></li>
                <li><a href="/contact">ติดต่อเรา</a></li>
            </ul>
        </div>

        <div class="row">
            160 หมู่ 4 ถนนกาญจนวนิช ตำบลเขารูปช้าง อำเภอเมืองสงขลา จังหวัดสงขลา || Designed By: Computer Science 65 
        </div>
    </div>
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Fredoka+One&family=Play&display=swap" rel="stylesheet">
</footer>
