<!DOCTYPE html>
<html lang="th">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>เสน่ห์แห่งศิลป์สยาม</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Charm:wght@400;700&display=swap">
    <link rel="stylesheet" href="slider.css">
</head>
<body>
    <%- include('partials/header') %>
    
    <!-- Slider Section -->
    <div class="slider">
        <!-- Slide 1 -->
        <div class="slide" style="background-image: url('https://s3-ap-southeast-1.amazonaws.com/wpimage.powermag.kingpower.com/wp-content/uploads/2022/05/18131858/AA7.jpg');">
            <div class="slide-content slide-right">
                <h2 style="white-space: nowrap;">สถานที่โบราณคดีไทย</h2>
                <a href="/locations" class="btn-view-more">ดูทั้งหมด</a>
            </div>
        </div>

        <!-- Slide 2 -->
        <div class="slide" style="background-image: url('http://virtualhistoricalpark.finearts.go.th/ayutthaya/images/b_about/12_03.jpg');">
            <div class="slide-content slide-left">
                <h2 style="white-space: nowrap;">วัฒนธรรมและประเพณีไทย</h2>
                <a href="/zone/southern" class="btn-view-more">ดูทั้งหมด</a>
            </div>
        </div>
    </div>
    
    <%- include('partials/footer') %>
</body>
</html>